/**Global**/
body {
	background-color: #FFFAF0;
	font-family: "Freeman", sans-serif;
	font-weight: 400;
    font-style: normal;
}
hr {
	margin: 0px;
}
/**Start Header**/
#collapsemenu button {
	margin-top: 25px;
	margin-right: 25px;
}
#header-nav {
	background-color: #8FBC8F;
	border-radius: 0;
	border: 0;
	height: 100px;
	position: relative;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 {
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1;
	padding-left: 15px;
}
#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
}
#nav-list a {
	color: #F8F8FF;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
	color: #000000;
}
#collapsable-nav {
	margin-top: 30px;
	margin-bottom: 25px;
	float: left;
	width: 100%;
	background-color: #696969;
	font-size: 1.5em;
	clear: both;
}
#collapsemenu {
	margin-left: 0px;
	margin-right: 0px;
}
/**End Header**/

/**Start Main**/
#main-content {
	width: 100%;
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
#main-content .menu-item-tile {
	font-size: 15px;
	margin-left: 10px;
	margin-right: 10px;
}
#main-content h1 {
	padding-bottom: 20px;
}
.row{
	width:100%;
	margin: 0px;
}
h3 {
	padding: 10px;
}
#main-content #menu-tiles
{
	position: relative;
	padding: 0px;
	margin-bottom: 30px;
}
#menubox {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #DCDCDC;
	overflow: hidden;
}
#main-nav {
	color: #B22222;
	font-size: 15px;
	padding-top: 30px;
}
/**End Main**/